body#fa {
    margin:  0;
    padding:  0;
    background: #77b3ca;
    color:  white;
    font-size: 14px;
    display:  block;
    font-family:  "Arial", sans-serif;
}

header#page_top {
    background: white;
    padding: 5px 20px;
    min-height:  45px;
    line-height: 45px;
    color: #464646;
    font-size: 17px;
}

right#buttons {
    float: right;
    display:  block;
    margin-top: -4.5%;
}

right#buttons > a {
    color:  white;
    text-decoration: none;
    background: #4a4a4a;
    padding: 5px 10px;
    border-radius:  3px;
    font-size: 17px;
}

article {
    width:  85%;
    margin: 0 auto;
}

section {
    width: 50%;
}

header#page_top > b {
    color: #77b3ca;
}

header#page_top > small {
    clear: both;
    display: block;
    margin-top: -20px;
    width: 30%;
}
